h1 {
  background-color: aqua;
  color: red;
  width: 400px;
  height: auto;
  text-align: center;
  margin: 20px auto;
  padding: 8px;
}

.recipes {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}
